table.board {
  border-collapse: separated;
  border: thin solid black;
}
table.board td {
  border: thin solid black;
  width: 64px;
  height: 64px;
  background-color: ivory;
  text-align: center;
  vertical-align: middle;
}
table.board td.dark {
  background-color: black;
}
table.board td.selected {
  border-color: red;
}
.stone, .dame {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: move;
  box-shadow: 5px 5px 5px darkgray;
  color: black;
  font-size: 24px;
  padding: 2px;
  box-sizing: border-box;
}
.stone.white {
  background-color: white;
  border-color: black;
  color: black;
}
.stone.black {
  background-color: black;
  border-color: white;
  color: white;
}
.dame.white {
  background-color: gold;
  border-color: black;
  color: black;
}
.dame.black {
  background-color: darkslateblue;
  border-color: white;
  color: white;
}
ol.list {
  border: 1px solid black;
  padding: 1em;
}
ol.list li.item {
  margin: .5em;
  cursor: move
}
.fruits {
  display: flex;
  flex-direction: row;
}
.basket {
  border: 3px solid black;
  border-top: none;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket.over {
  border-color: red;
}
.apple {
  margin: 10px;
}